@{
    ViewBag.Title = "Test";
}

<button class="btn btn-lg" onclick="getCurrentTime();">Get time</button>
<button class="btn btn-lg" onclick="postCurrentTime();">Post time</button>
<div id="infoPanel" class="alert alert-info margin-top-5 console-panel">
  
</div>

@section scripts
{
    <script>
        $(function() {
            var hub = $.connection.notificationHub;
            hub.client.broadcast = function(message) {
                console.log(message);
                $('#infoPanel').append('<p>' + message + '</p>');
            }

            $.connection.hub.logging = true;
            $.connection.hub.start();
        });

        var getCurrentTime = function() {
            $.ajax({
                url: '/api/deploy/',
                success: function() {
                    $('#infoPanel').append('<p>ok</p>');
                }
            });
        }

        var postCurrentTime = function () {
            $.ajax({
                type: 'POST',
                url: '/api/deploy/',
                success: function () {
                    $('#infoPanel').append('<p>ok</p>');
                }
            });
        }

    </script>
}
